//
// フッターのスタイル
//

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baskervville', serif;
    font-size: 1.2rem;
    background-color: $l-blue;
    height: 5.5rem;
}