//
// SKILLSセクションのスタイル
//
.skills {
    .container {
        display: flex;
        flex-direction: column;
        .skill-item {
            background-color: $l-blue;
            border-radius: 1rem;
            text-align: center;
            height: 35rem;
            padding: 3rem;
            margin-bottom: 3rem;
            box-sizing: border-box;
            &last-child {
                margin-bottom: 0;
            }
            h3 {
                font-size: 1.8rem;
                margin-top: 0;
                margin-bottom: 1rem;
            }
            i {
                font-size: 2.4rem;
                margin-bottom: 3rem;
            }
            p {
                text-align: left;
                line-height: 1.5;
                margin-top: 0;
            }
        }
    }
}